@page
@model TaxModel
@{
  ViewData["Title"] = "Tax";
}

<style>
.table > thead > tr:first-child > th {
    border: none;
}
</style>

<script src='/js/bignumber.js'></script>
<script>
BigNumber.set({ ROUNDING_MODE: 4 }); // 4 is HALF_UP
</script>

<div id='sales-needing-tax-association'>
  <h1>
    Sales Needing Tax Association
  </h1>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col"></th>
        <th scope="col">Sold</th>
        <th scope="col">Value Per Coin</th>
        <th scope="col">Bought</th>
      </tr>
    </thead>
    <tbody>
  @{
    bool hadSalesNeedingTaxAssociation = false;
    foreach (var t in Model.SalesNeedingTaxAssociation(null))
    {
      var usd = "USD";
      var isExchange = t.PaymentCoinType != "USD";
      hadSalesNeedingTaxAssociation = true;
      <tr>
        <td>@t.Time.ToLocalTime().ToString("g")</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalToAssociateSale"
            onclick="onResolveSaleNeedingTaxAssociationClick('@(t.Id)', 
              '@t.PaymentCoinCount @t.PaymentCoinType',
              '@t.ReceivedCoinCount @t.ReceivedCoinType@{ if (isExchange) { <text> (worth @(t.ReceivedValueUsd.FormatCoinCount(usd, showCoinType: false)))</text> } }',
              '@t.PaymentPerCoinCostUsd.FormatCoinCount(usd, showCoinType: false)',
              '@(t.PaymentCoinType)',
              '@(t.PaymentCoinCount.ToString("G29"))',
              '@(t.Time.ToLocalTime().ToString("g"))',
              new Date('@(t.Time.ToString("o"))'))"
          >
            Resolve
          </button>
        </td>
        <td>Sold @t.PaymentCoinCount.FormatCoinCount(t.PaymentCoinType)</td>
        <td>@t.FormatExchangeRateUsd(t.PaymentCoinType)</td>
        <td>Bought @t.ReceivedCoinCount.FormatCoinCount(t.ReceivedCoinType)</td>
      </tr>
    }
  }
    </tbody>
  </table>
</div>

<script>
let resolveSaleNeedingTaxAssociation_orderId = '';
let resolveSaleNeedingTaxAssociation_coinCount = '';
function onResolveSaleNeedingTaxAssociationClick(orderId, prettyPayment, prettyReceived, prettyPaymentPerCoinCost, machinePaymentCoinType, machinePaymentCoinCount, prettyOrderTime, machineOrderTime)
{
  resolveSaleNeedingTaxAssociation_orderId = orderId;
  resolveSaleNeedingTaxAssociation_coinCount = machinePaymentCoinCount;

  let paymentSpan = document.getElementById('modalToAssociateSale-Payment');
  paymentSpan.textContent = prettyPayment;
  
  let receivedSpan = document.getElementById('modalToAssociateSale-Received');
  receivedSpan.textContent = prettyReceived;
  
  let paymentPerCoinCostSpan = document.getElementById('modalToAssociateSale-PaymentPerCoinCost');
  paymentPerCoinCostSpan.textContent = prettyPaymentPerCoinCost;

  let timeSpan = document.getElementById('modalToAssociateSale-Time');
  timeSpan.textContent = prettyOrderTime;

  let tableBody = document.getElementById('modalToAssociateSale-tableBody');
  for (var row of Array.from(tableBody.children)) {
    // hide any with coinType != CoinType
    // hide any with purchaseTime > order time
    let rowCoinType = row.getAttribute('data-coinType');
    let rowPurchaseTime = new Date(row.getAttribute('data-purchaseTime'));
    if (rowCoinType != machinePaymentCoinType || rowPurchaseTime > machineOrderTime) {
      row.style.display = 'none';
    }
    else {
      row.style.display = '';
    }
  }

  for (var checkbox of document.getElementsByClassName('button-for-selecting-purchase-orders')) {
    checkbox.checked = false;
  }
}
</script>

@{
  if (!hadSalesNeedingTaxAssociation) {
<script>
  let body = document.getElementById('sales-needing-tax-association');
  body.style.display = 'none';
</script>
  }
}

<!-- A modal dialog for associating a "sell" order with one or more "buy" orders -->
<div class="modal fade" id="modalToAssociateSale" tabindex="-1" role="dialog" aria-labelledby="modalToAssociateSale-Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalToAssociateSale-Title">
          Date: <span id='modalToAssociateSale-Time'>last Tuesday</span>
          <br>
          You sold
          <span id='modalToAssociateSale-Payment'>9000 BARFTH</span>
          for
          <span id='modalToAssociateSale-Received'>100,000,000 SHIBA (worth $1,302.44)</span>
          <br>
          Cost Per Coin: <span id='modalToAssociateSale-PaymentPerCoinCost'>$0.15</span>
          <br>
          How was it purchased?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Purchase Date</th>
              <th scope="col"></th>
              <th scope="col">Count</th>
              <th scope="col">Rate</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody id='modalToAssociateSale-tableBody'>
        @{
          foreach ((var t, var coinCountRemaining, var costRemaining) in Model.PurchasesNeedingTaxAssociation(null))
          {
            <tr data-coinType='@t.ReceivedCoinType' data-purchaseTime='@t.Time.ToString("o")'>
              <td>@t.Time.ToLocalTime().ToString("g")</td>
              <td>
                <input type="checkbox" autocomplete="off"
                  class="btn-check button-for-selecting-purchase-orders"
                  id="btn-check-order-@(t.Id)"
                  data-orderId="@(t.Id)"
                  data-orderCoinCount="@t.ReceivedCoinCount"
                  data-orderCoinCountRemaining="@coinCountRemaining"
                  data-orderTotalCost='@((t.ReceivedValueUsd ?? 0m).ToString("F2"))'
                  data-orderCostRemaining='@(costRemaining?.ToString() ?? "<unknown>")'
                  onclick='modalToAssociateSaleCheckBoxClick("@t.Id");'>
                <label class="btn btn-outline-primary btn-sm" for="btn-check-order-@(t.Id)">Select</label>
              </td>
              <td>@t.ReceivedCoinCount @t.ReceivedCoinType @{if (coinCountRemaining != t.ReceivedCoinCount) { <span>(@coinCountRemaining.ToString("G29") unassociated)</span> } }</td>
              <td>@t.FormatExchangeRateUsd(t.ReceivedCoinType)</td>
              <td>@(t.ReceivedValueUsd?.ToString("c") ?? "<unknown>") @{if (coinCountRemaining != t.ReceivedCoinCount) { <span>($@(costRemaining?.ToString() ?? "<unknown>") unassociated)</span> } }</td>
            </tr>
            <tr style="display:none" id="modalToAssociateSale-inputsForOrder-@t.Id">
              <td></td>
              <td colspan="2">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend-1">@t.ReceivedCoinType</span>
                  </div>
                  <input type="text" class="form-control input-for-contributing-coin-count"
                    id="input-contributing-coin-count-for-order-@(t.Id)"
                    placeholder="Contributing Coin Count" 
                    aria-describedby="inputGroupPrepend-1"
                    value="555555555.55">
                </div>
              </td>
              <td colspan="3">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend-2">$</span>
                  </div>
                  <input type="text" class="form-control input-for-contributing-cost"
                    id="input-contributing-cost-for-order-@(t.Id)"
                    placeholder="Contributing Cost" 
                    aria-describedby="inputGroupPrepend-2"
                    value="$555555555.55">
                </div>
              </td>
            </tr>
          }
        }
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <img id="modalToAssociateSale-okSpinny" src="/spinny-arrows.gif" style="display: none;" />
        <button type="button" class="btn btn-primary" onclick="modalToAssociateSaleOkButtonClick()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>

let selectedContributingCoinCount = BigNumber(0);
function updateSelectedContributions() {
  selectedContributingCoinCount = BigNumber(0);
  for (var checkbox of document.getElementsByClassName('button-for-selecting-purchase-orders')) {
    if (checkbox.checked) {
      try {
        let orderId = checkbox.getAttribute('data-orderId');
        let contributingCoinCount = BigNumber(document.getElementById('input-contributing-coin-count-for-order-' + orderId).value).abs();
        selectedContributingCoinCount = selectedContributingCoinCount.plus(contributingCoinCount);
      }
      catch (e) {
        console.log('updateSelectedContributions() threw', e);
        selectedContributingCoinCount = BigNumber(NaN);
        return false;
      }
    }
  }
  return true;
}

let isProgrammaticallyChangingStuff = false;

function modalToAssociateSaleCheckBoxClick(orderId)
{
  const checkbox = document.getElementById('btn-check-order-' + orderId);

  const row = document.getElementById('modalToAssociateSale-inputsForOrder-' + orderId);
  row.style.display = checkbox.checked ? '' : 'none';

  if (checkbox.checked) {
    let oldValue = isProgrammaticallyChangingStuff;
    isProgrammaticallyChangingStuff = true;
    try {
      const coinCountInput = document.getElementById('input-contributing-coin-count-for-order-' + orderId);
      const coinCountRemaining = checkbox.getAttribute("data-orderCoinCountRemaining");
      coinCountInput.value = '0';

      const costInput = document.getElementById('input-contributing-cost-for-order-' + orderId);
      const costRemaining = checkbox.getAttribute("data-orderCostRemaining");
      costInput.value = '0';
      costInput.disabled = true;
      
      // try reducing the auto-typed values to what's needed to satisfy the order
      try {
        if (!updateSelectedContributions()) throw "bleh";

        const orderTotalCost = checkbox.getAttribute("data-orderTotalCost");
        const orderCoinCount = checkbox.getAttribute("data-orderCoinCount");
        let coinCountAvailable = BigNumber.max(BigNumber(0), BigNumber(resolveSaleNeedingTaxAssociation_coinCount).minus(selectedContributingCoinCount));
        if (coinCountAvailable.isGreaterThan(BigNumber(coinCountRemaining))) {
          coinCountInput.value = coinCountRemaining;
          costInput.value = costRemaining;
        }
        else if (coinCountAvailable.isGreaterThan(BigNumber(0))) {
          coinCountInput.value = coinCountAvailable.toString();
          costInput.value = coinCountAvailable.times(BigNumber(orderTotalCost)).dividedBy(BigNumber(orderCoinCount)).toFixed(0);
        }
        else {
          coinCountInput.value = '0';
          costInput.value = '0';
        }
      }
      catch (e) {
        console.log('modalToAssociateSaleCheckBoxClick() threw', e);
        // as a fallback, use the order remaining values
        coinCountInput.value = "<unknown>";
        costInput.value = "<unknown>"
      }
    }
    finally {
      isProgrammaticallyChangingStuff = oldValue;
    }
  }
}

function modalToAssociateSaleContributingCoinCountChanged(orderId)
{
  if (isProgrammaticallyChangingStuff) return;
  
  const checkbox = document.getElementById('btn-check-order-' + orderId);
  const orderTotalCost = checkbox.getAttribute("data-orderTotalCost");
  const orderCoinCount = checkbox.getAttribute("data-orderCoinCount");

  const coinCountInput = document.getElementById('input-contributing-coin-count-for-order-' + orderId);
  const costInput = document.getElementById('input-contributing-cost-for-order-' + orderId);
  try {
    costInput.value = BigNumber(coinCountInput.value).times(BigNumber(orderTotalCost)).dividedBy(BigNumber(orderCoinCount)).toFixed();
  }
  catch {
    costInput.value = '<unknown>';
  }
}

for (var input of document.getElementsByClassName('input-for-contributing-coin-count')) {
  let orderId = input.getAttribute('id').substring('input-contributing-coin-count-for-order-'.length, 5000);
  input.oninput = () => modalToAssociateSaleContributingCoinCountChanged(orderId);
}

async function modalToAssociateSaleOkButtonClick()
{
  let purchases = [];

  for (var checkbox of document.getElementsByClassName('button-for-selecting-purchase-orders')) {
    if (checkbox.checked) {
      try {
        let orderId = checkbox.getAttribute('data-orderId');
        let contributingCoinCount = document.getElementById('input-contributing-coin-count-for-order-' + orderId).value;
        if (BigNumber(contributingCoinCount).isEqualTo(BigNumber(0))) { continue; }
        purchases.push({ orderId, contributingCoinCount });
      }
      catch (e) {
        alert('failed to generate request for given purcahse data. Are all inputs numeric? ' + e);
        return;
      }
    }
  }

  let spinny = document.getElementById('modalToAssociateSale-okSpinny');
  spinny.style = '';
  try {
    let r = await fetch('/api/createTaxAssociation', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        saleOrderId: resolveSaleNeedingTaxAssociation_orderId,
        purchases
      })
    });

    if (r.ok) {
      location.reload();
    }
    else {
      let t = await r.text();
      alert('!ok: ' + t);
    }
  }
  catch (e) {
    alert(e);
  }
  finally {
    spinny.style = 'display: none;';
  }
}
</script>

<h1>
  Tax Associations
</h1>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Change</th>
      <th scope="col">Rate</th>
      <th scope="col">USD Value</th>
      <th scope="col">Loss/Gain</th>
    </tr>
  </thead>
  <tbody>
@{
foreach (var yearOfAssociations in Model.TaxAssociations(null).GroupBy(x => x.Time.Year).OrderByDescending(x => x.Key))
{
  int? yearNetGainLoss = yearOfAssociations.Sum(x => x.NetGainLoss);
  
  <tr style="font-weight: bold;">
    <td>
      <button type="button" class="btn btn-primary btn-sm" onclick='downloadFreeTaxUsaScript(@yearOfAssociations.Key)'>Download As Script</button>
    </td>
    <td colspan="5">
      <input type="checkbox" autocomplete="off" class="btn-check" checked=true
             onclick='toggleTaxAssociationVisibilityForYear(@yearOfAssociations.Key);'>For the year @yearOfAssociations.Key: <span style="@(yearNetGainLoss >= 0 ? "color:#008126;" : "color:#ff0000;") font-weight:bold; ">@(yearNetGainLoss?.ToString("c0") ?? "<unknown>")</span>
    </td>
  </tr>
  
  foreach (var a in yearOfAssociations)
  {
    <tr class="tax-association-for-year-@yearOfAssociations.Key">
      <td>@a.CoinType</td>
      <td>@a.Time.ToLocalTime().ToString("g")</td>
      <td>@a.SaleDescription</td>
      <td>@a.Sale.Order.FormatExchangeRateUsd()</td>
      <td>+$@(a.TaxableSaleProceedsUsd?.ToString() ?? "<unknown>")</td>
      <td><span style="@(a.NetGainLoss >= 0 ? "color:#008126;" : "color:#ff0000;") font-weight:bold; ">$@(a.NetGainLossAbs?.ToString() ?? "<unknown>") @(a.NetGainLoss >= 0 ? "gain" : "loss") (@(a.PercentNetGainLoss?.ToString() ?? "<unknown>")%)</span></td>
    </tr>

    bool first = true;
    int? reportedSalesTotal = 0;
    foreach (var p in a.Purchases)
    {
      reportedSalesTotal += p.GetAttributedSaleProceeds(a);
    }
    var d = a.TaxableSaleProceedsUsd - reportedSalesTotal;
    foreach (var p in a.Purchases)
    {
    <tr class="tax-association-for-year-@yearOfAssociations.Key">
      <td>@{
        if (first)
        {
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalToDeleteAssociation"
            onclick="modalToDeleteAssociation_associationId = '@a.Id'"
          >
            Delete
          </button>
        }
      }</td>
      <td>@p.Order.Time.ToLocalTime().ToString("g")</td>
      <td>@p.PurchaseDescription</td>
      <td>@p.Order.FormatExchangeRateUsd()</td>
      <td>-$@(p.TaxableCostBasisUsd?.ToString() ?? "<unknown>")</td>
      <td>+$@(p.GetAttributedSaleProceeds(a)?.ToString() ?? "<unknown>")@{
        if (p.SaleProceedsFudge != null)
        {
          <text> fudged by $@p.SaleProceedsFudge</text>
        }
        if (d != 0)
        {
          <text> </text><button type="button" class="btn btn-primary" onclick="pinSaleProceedsFudgeToTaxAssociationPurchase('@a.Id', '@p.Order.Id')">fudge it</button>
        }
      }</td>
    </tr>
      first = false;
    }
    <tr class="tax-association-for-year-@yearOfAssociations.Key">
      <td></td>
      <td colspan="4">
      @{
        var hasUnknownTaxableValue = a.Purchases.Any(p => p.Order.TaxablePaymentValueUsd == null) || a.Sale.Order.TaxableReceivedValueUsd == null;

        if (a.CoinCountBought != a.CoinCountSold || hasUnknownTaxableValue)
        {
          <img src="/red-x.svg" style="width:50px;height:50px;"/>
        }

        var coinCountNeeded = Math.Abs(Math.Abs(a.CoinCountBought) - Math.Abs(a.CoinCountSold));
        if (a.CoinCountBought > a.CoinCountSold)
        {
          <span>Has @coinCountNeeded.ToString("G29") too many coins purchased!</span>
        }
        else if (a.CoinCountBought < a.CoinCountSold)
        {
          <span>Has @coinCountNeeded.ToString("G29") more coins sold than purchased!</span>
        }
        
        if (hasUnknownTaxableValue)
        {
          <span>Has order with unknown taxable value!</span>
        }
      }
      </td>
      <td>@{
        
        if (d > 0) { <span style="color:#ff0000; font-weight:bold; ">$@d overreported</span> }
        if (d < 0) { <span style="color:#ff0000; font-weight:bold; ">$@d underreported</span> }
      }</td>
    </tr>
  }
}
}
  </tbody>
</table>

<script>
function toggleTaxAssociationVisibilityForYear(year) {
  let className = "tax-association-for-year-" + year;
  for (var row of document.getElementsByClassName(className)) {
    row.style.display = (row.style.display == 'none' ? '' : 'none');
  }
}

async function pinSaleProceedsFudgeToTaxAssociationPurchase(taxAssociationId, purchaseId)
{
  //let spinny = document.getElementById('modalToDeleteAssociation-okSpinny');
  //spinny.style = '';
  try {
    let r = await fetch('/api/createTaxAssociation', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        taxAssociationId: taxAssociationId,
        purchaseIdToPinSaleProceedsFudge: purchaseId,
      })
    });

    if (r.ok) {
      location.reload();
    }
    else {
      let t = await r.text();
      alert('!ok: ' + t);
    }
  }
  catch (e) {
    alert(e);
  }
  //finally {
  //  spinny.style = 'display: none;';
  //}
}
</script>

<!-- A modal dialog for deleting a tax association -->
<div class="modal fade" id="modalToDeleteAssociation" tabindex="-1" role="dialog" aria-labelledby="modalToDeleteAssociation-Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalToDeleteAssociation-Title">
          Delete tax association?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <img id="modalToDeleteAssociation-okSpinny" src="/spinny-arrows.gif" style="display: none;" />
        <button type="button" class="btn btn-primary" onclick="modalToDeleteAssociationOkButtonClick()">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
let modalToDeleteAssociation_associationId = '';
async function modalToDeleteAssociationOkButtonClick() 
{
  let spinny = document.getElementById('modalToDeleteAssociation-okSpinny');
  spinny.style = '';
  try {
    let r = await fetch('/api/deleteTaxAssociation', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        taxAssociationId: modalToDeleteAssociation_associationId
      })
    });

    if (r.ok) {
      location.reload();
    }
    else {
      let t = await r.text();
      alert('!ok: ' + t);
    }
  }
  catch (e) {
    alert(e);
  }
  finally {
    spinny.style = 'display: none;';
  }
}

function downloadFreeTaxUsaScript(yearOfAssociations) {
  const url = '/api/FreeTaxUsaScript/' + yearOfAssociations;
  const a = document.createElement('a');
  a.href = url;
  a.download = url.split('/').pop();
  document.body.appendChild(a);
  a.click();
  document.body.removeChild(a);
}
</script>